[Desktop Entry]
Type=Application
Name=Alacritty (tmux)
Comment=Alacritty terminal with tmux
Exec=alacritty -e bash -lc 'tmux'
Icon=/home/pacfrog/Pictures/Tmux/terminal_logo.svg
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
Keywords=terminal;tmux;console;shell;
