snippet fhead "Insert file header comment"
/*
 * File: ${1:`!v expand('%:t')`}
 * Author: ${2:Your Name}
 * Date: `!v strftime('%Y-%m-%d')`
 * Description: ${3:Description}
 */
endsnippet

snippet main "K&R Style"
int main(int argc, char *argv[]) {
	${0}
	return 0;
}
endsnippet
